body.login {
	background: #e1f7dc;
	background: linear-gradient(90deg,#e1f7dc 35%,#afe5cd 100%);
}

.login form input[type="checkbox"],
.login #login_error,
.login .message,
.login .success,
.login form {
  border-radius: 10px;
  background: rgba(255,255,255, 0.4);
}


.login form .input,
.login input[type="text"] {
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: none;
  background: transparent;
}

.login p,
.login label {
	font-size: 10px;
	color: #000;
}
