/*
Theme Name: Green Kecipir
Theme URI:
Author: Eko Dwi Saputro
Author URI: http://theteamtheteam.com/resume
Description:
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #767676;
}

*:focus {
  outline: none !important;
}


/**
 * 1.0 - Normalize
 */

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.clearfix {
  clear: both;
}

.fixed {
  overflow: hidden;
}


/**
 * 2.0 - Typography
 */


input, textarea {
  /* -webkit-appearance: none;
  -webkit-border-radius: 0; */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.fextralarge {
  font-size: 52px;
}

.flarge p,
.flarge {
  font-size: 48px;
}

.fmedium {
  font-size: 36px;
}

.extrabold {
  font-weight: 800;
}

.bold, strong, b {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.dtable {
  display: table;
  width: 100%;
  height: 100%;
}

.dtable-cell {
  display: table-cell;
}

.v-bottom {
  vertical-align: bottom;
}

.v-middle {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.aligncenter {
  text-align: center !important;
}

.alignright {
  text-align: right !important;
}

.nopadding {
  padding: 0 !important;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}


:focus{
  outline:0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;
	/* font-family: Montserrat, "Helvetica Neue", sans-serif; */
}

:-moz-placeholder {
	color: #686868;
	/* font-family: Montserrat, "Helvetica Neue", sans-serif; */
}

::-moz-placeholder {
	color: #686868;
	/* font-family: Montserrat, "Helvetica Neue", sans-serif; */
	opacity: 1;
}

:-ms-input-placeholder {
	color: #686868;
	/* font-family: Montserrat, "Helvetica Neue", sans-serif; */
}
